# Copy this file to ~/.filchrc and customise it
[global]
database = "/path/to/the/database/folder"   # path to the folder where the generated images are saved
url      = "http://<your-machine-address>"  # URL to the database folder to access it through browser
latitude = 55.73
longitude = 13.24
timelapse_period = 3600  # seconds between timelapse images
sleep_time       = 2     # seconds to sleep when not following (default 2)
dusk_delay       = 30    # minutes past sunset before sleeping (default 30)
# Path to the labels.txt file.
# The key is optional — if the model has embedded labels, it's ignored.
# If labels are needed and neither --labels nor the config key is present, the program now exits with an error
labels = "/path/to/coco_labels.txt"
# Compression level of full size JPEG images
jpg_quality = 80
# Compression level of web-preview JPEG images
jpg_quality_web = 75
# Paths to the web-preview images that always point to the most recently taken image
web_object_jpg    = "/var/www/html/object.jpg"     # web-preview path for detection images
web_timelapse_jpg = "/var/www/html/timelapse.jpg"  # web-preview path for timelapse images

[ntfy]
channel = "<your ntfy.sh channel name>"

[filter]
ignore = ["spoon", "bus", "train", "wine glass", "bench", "boat"]
follow = ["person", "dog", "cat", "horse", "sheep", "cow", "bear", "zebra", "giraffe"]
